.hidden{
  display: none;
}
.xxsm{
  width: 1.9rem;
  height: 1.9rem;
  margin-left: .5rem;
  margin-right: .5rem;
  box-shadow: none !important;
}
.icon-xxsm{
  font-size: 1rem;
  vertical-align: 0.55rem !important;
  color: #388e3c;
}
