<div id="orders-container" class="slide-in container pt-4 mb-5">

  <div *ngFor="let order of orders">
    <a [routerLink]="['/order',order.id]" class="card text-center mb-3 raise-1-4">
      <div class="card-body p-2">
        <div class="row align-items-center">
          <div class="col-2">
            <img src="assets/images/icons/order_round.png"
            width="70" height="70" class="d-inline-block align-top" alt="">
          </div>
          <div id="cust-data" class="col-10 p-0 text-left">
            <span>Orden de {{ order.customerName }}</span><br>
            <span *ngIf="order.status == true">🔵 </span>
            <span *ngIf="order.status == false">🔴 </span>
            <span class="text-muted">
              {{ order.productList.length }} productos •
              {{ order.orderDate.dayOfMonth }}/{{ order.orderDate.monthValue }}/{{ order.orderDate.year }}
            </span>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="pb-5"></div>
  <button [routerLink]="['/order','edit','nuevo']" class="fab-add btn btn-float btn-secondary my-1" type="button"><i class="material-icons">add</i></button>

</div>
