.img-profile{
  width: 10rem !important;
  height: auto;
  margin: 2rem;
  border-width: .3rem !important;
}
.product-details{
  font-size: 1.2rem;
}
.fab-add{
  position: relative;
  right: 2rem;
  bottom: 2rem;
  color: #43a047;
}
